section{ 
  background: url(../../assets/background-home.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.my-name{
  margin-left: 15vw;
  width: 25vw;
  color: white;
}

.my-name h1{
  margin-bottom: 0.5em;
  font-size: 3em; 
}
